@import "../../assets/styles/main.scss";

.wrapper {
  padding: 1em 3em;
  background-color: $orangeBright;
  display: flex;
  justify-content: space-between;
}
.navigation {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: $grey;
}
a:hover {
  color: $linkGrey;
}
