$grey: rgb(94, 94, 94);
$linkGrey: rgb(37, 37, 37);
$orangeBright: rgb(255, 179, 112);
$orangeMain: rgba(255, 200, 157, 0.664);
$orangeContent: rgba(255, 179, 112, 0.308);
$orangeWhite: rgb(255, 240, 229);
$borderColor: rgb(236, 236, 236);
